
<head>
    <link href="@Url.Content("~/Content/Movies.css")" rel="stylesheet" type="text/css" />
</head>

@{
    ViewBag.Title = "About";
}
<h2 class="formHead text-primary">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
