
<head>
    <link href="@Url.Content("~/Content/Movies.css")" rel="stylesheet" type="text/css" />
</head>

@{
    ViewBag.Title = "Contact";
}
<h2 class="formHead text-primary">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>